[v-cloak] {
  display: none;
}
img {
  max-width: 100%;
}

header {
  background-color: #06131f;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

body {
  background-color: #1d2d3c;
}

.album-card {
  max-width: calc(100% / 3 - 30px);
  margin: 15px;
  padding: 15px;
  color: #fff;
  background-color: #112030;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1d2d3cc4;
  display: flex;
  justify-content: center;
  align-items: center;
}
